.moving-animation {
    animation: moveText 2s infinite alternate;
}

@keyframes moveText {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(20px);
    }
}
.container h2 {
    text-transform: uppercase;
    padding-top: 50px;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000, /* Text shadow to simulate border */
        0px 0px 10px rgba(255, 255, 255, 0.7); /* White text shadow */
    color: transparent; /* Hide the original text color */
    animation: moveText 2s ease infinite alternate; /* Animation properties */
}


/* Keyframes for the animation */
@keyframes moveText {
    0% {
        transform: translateY(0); /* Start position */
    }
    100% {
        transform: translateY(10px); /* End position */
    }
}
v