/* General css */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 90%;
    }
}

.notice {
    text-align: center;
    padding: 4%;
    font-size: 30px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Container / Section */

.container {
    max-width: 90%;
    margin: 0 auto;
    background-color: black;
}

.container h2 {
    text-transform: uppercase;
    text-align: center;
}

.section {
    padding: 50px 0;
    background-color: black;
    margin-bottom: 3%;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.section p {
    font-size: 16px;
}


/* Menu */


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    z-index: 1000;
}

.menu img {
    height: 60px;
}

.menu-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
}

.menu a:hover {
    color: cyan;
}

.hero {
    padding: 15%;
    text-align: center;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}


.columns {
    display: flex;
}

.column {
    width: 50%;
}

#services {
    padding: 50px 0;
}

.service {
    display: block;
    align-items: center;
    margin-bottom: 30px;
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon img {
    max-width: 30%;
    height: auto;
}

.service-content {
    flex: 1;
}

.service-content h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: yellowgreen;
    display: inline;
}

.service-content p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
}

.service-content .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-content .btn:hover {
    background-color: #0056b3;
}

.custom-text {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: yellowgreen;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    font-family: 'Arial', sans-serif;
    flex: 1;
    padding-right: 40px;
    line-height: 1.6;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.read-more-checkbox:checked ~ .additional-content {
    max-height: 500px;
}

#github-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
}

.gitcontainer {
    border-right: 5px solid white;
    border-left: 5px solid white;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 90%;
    margin: 0 auto;
    background-color: transparent;
    animation: moveContainer 2s ease infinite alternate;
}

.gitcontainer h3 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.github-container {
    text-align: center;
    animation: moveGithubContainer 1s ease infinite alternate;
}

.github-container img {
    width: 100px;
}

@keyframes moveContainer {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes moveGithubContainer {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}

#contact {
    background-color: black; 
    color: white;
    padding: 50px 0;
}

.contact-form {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: cyan;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 25px;
    text-transform: uppercase;
    border: none;
    background-color: cyan;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: lightcyan;
}

.bcontainer {
    display: flex;
    animation: fadeIn 3s forwards;
    background-color: transparent;
}

.box {
    background-color: rgba(51, 51, 51, 0.5);
    text-align: center;
    color: #fff;
    flex: 1;
    padding: 20px;
    margin: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    margin-top: 20px;
}

.social-link {
    color: white;
    font-size: 24px;
    margin-right: 20px;
}

.social-link:hover {
    color: cyan;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
}

.footer-menu li {
    display: inline;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.footer-menu a:hover {
    color: cyan;
}

.copyright {
    margin-top: 20px;
}


/* technologies section */

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.logos-container img {
    width: 100px;
    height: auto;
    padding: 30px;
    transition: transform 0.3s ease;
    animation: moveLogo 1s infinite alternate;
}

@keyframes moveLogo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.logos-container img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-40%, 10%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border: none;
    z-index: 1000;
}

.popup.active {
    display: block;
}

.popup:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/* Responsive design */



/* Keyframes & animation */

.container h2 {
    text-transform: uppercase;
    padding-top: 50px;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
        0px 0px 10px rgba(255, 255, 255, 0.7); 
    color: transparent;
    animation: moveText 2s ease infinite alternate;
}

.moving-animation {
    animation: moveText 2s infinite alternate;
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}


